{% extends 'main/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Свяжитесь со мной</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="mb-3">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="mb-3">
                {{ form.message.label_tag }}
                {{ form.message }}
            </div>
            <button type="submit" class="btn btn-primary">Отправить сообщение</button>
        </form>
    </div>

    <div class="col-md-6">
        <h3>Контактная информация</h3>
        <p><strong>Email:</strong> roll.btw.roll@gmail.com</p>
        <p><strong>Телефон:</strong> +7 (937) 459-45-19</p>
        <p><strong>Адрес:</strong> г. Ульяновск, ул. Розы Люксембург 34</p>
    </div>
</div>
{% endblock %}