{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4">Добро пожаловать на мой сайт!</h1>
        <p class="lead">Это мой личный сайт-визитка</p>
        <div class="mt-5">
            <a href="{% url 'about' %}" class="btn btn-primary me-3">Узнать обо мне</a>
            <a href="{% url 'contacts' %}" class="btn btn-primary me-3">Связаться со мной</a>
        </div>
    </div>
</div>
{% endblock %}